.headshot
h1 Casey Dwayne
p Sites & Software
p       
  a(href="https://resume.caseydwayne.com" target="_blank") 
    | Resume 
  ||  
  a(href="https://linkedin.com/in/caseydwayne" target="_blank") 
    | LinkedIn 
  ||  
  a(href="https://github.io/caseydwayne" target="_blank") 
    | GitHub
    
p 
  | For more visit 
  a(href="https://caseydwayne.com") 
    | https://caseydwayne.com