include ../mixins/project.pug

p Hello. I am a full stack web developer/software engineer. 
  | I have a created many tools, websites, and applications. 
  | This is a currated selection.
  //- I prefer 70% frontend 30% back but I'm mostly indifferent (just don't put me in a dark box doing nothing but backend development for weeks on end)
    
for project in projects 
  +project( project )

p(style='text-align:right') ...and honestly a 
  strong lot 
  |  more. This is just a showcase for 
  em hopefully
  |  finding a developer role in 2025.  