doctype html
html

  head

    title A GitHub Portfolio/Resume Site By Casey Dwayne

    meta(name="http-equiv" content="content-type")

    meta(name="charset" content="utf-8")
    meta(name="viewport" content="width=device-width")
    
    meta(name="description" content="This is a GitPage with currated selections from my portfolio.")
    meta(name="keywords" content="full stack software developer engineer js php wordpress websites code programming")
      
    meta(name="priority" content="100")
    meta(name="changefreq" content="weekly")  

    meta(name="google-site-verification" content="8m0jpbIblDiFB6wiObHZw2mfAfWVBd9-UICT5R1cvgk")

    link(rel="icon" type="image/x-icon" href="./favicon.ico")

    link(href='./style.scss' rel='stylesheet')

    // Google tag (gtag.js)
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-KS110LC88Z")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KS110LC88Z');

  body
  
    .main
      .left
        include ./content/left.pug
      .right
        include ./content/right.pug
        
    script( type='module', src='./script.js' )





    