@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&amp;family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Courgette&amp;display=swap);


$dark: #000;
$lite: #FFF;
$c1: #FFBC13;
$c2: #00EA43;

$ff1: 'Montserrat', sans-serif;
$ff2: 'Open Sans', sans-serif;
$ff3: 'Courgette', cursive;

.ff3 { font-family: $ff3; }

html, body {
  width: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: $dark;
  color: $lite;
  font-size: 10px;
  font-family: $ff2;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin-bottom: 1rem;
  font-family: $ff1;
}
h1 { 
  font-size: 3.8em; 
}
p {
  font-size: 1.618em;
  margin-bottom: 1.618em;
  line-height: 1.618em;
}
a {
  text-decoration: none;
  color: $c1;
  &:hover, &:focus {
    color: lighten( $c1, 6 )
  }
  &:visited {
    color: darken( $c1, 6 )
  }
}
img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100dvh;
}

.left, .right {  
  padding: 1rem;
}

.left {
  border-right: 1px solid $c1;
}

.right {
  flex-grow: 1;
  overflow-y: scroll;
  @extend %gold-scroll; 
}

.headshot {
  width:240px;
  height:240px;
  background:white;
  border-radius: 0.618rem;
  overflow: hidden;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.618rem;  
  background: url(media/headshot.jpg) center no-repeat;
  background-size: 110%;
  box-shadow: 
    inset 0 0 20px 3px rgba( $dark, .9 )
   ,inset 0 0 4px 1px rgba( $dark, .7 )
  ;
  filter: sepia( 1 ) hue-rotate( -5deg )
  //blur(3)
}

.project {
  box-shadow: 0 0 1px rgba( $c1, .004 );
  display: grid;
  grid-template-columns: 420px auto;
  grid-template-areas:
    "image title"
    "image description"
    "image techs";
  gap: 0rem 1.618rem;
  padding: 1rem;
  margin: 0 0 2.618rem;
  &:hover, &:focus {
    box-shadow: 0 0 1px rgba( $c1, .75 );
  }
  .image {
    width: 100%;
    // max-width: 300px;
    grid-area: image;
  } 
  .title {
    font-size: 2.618em;    
    grid-area: title;
  }
  .description {
    grid-area: description;
  }
  .techs {
    width: 100%;
    grid-area: techs;
    // display: flex;
    
  }
  .tech {
    // flex: 1 0 100px;
    min-width: fit-content;
    background: $dark;
    padding: 0.618rem;
    color: $lite;
    box-shadow: 0 0 1px rgba( $lite, .5 );
    margin-right: 1.618rem;
    user-select: none;
    font-size: 1.618em;
    cursor: default;
    &:hover {
      color: $c1;
      //box-shadow: 0 0 1px rgba( $c1, .5 );
    }
  }
}

%gold-scroll {

  $color: $c1;
  $alpha: 0.308;
  
  scrollbar-width: thin;
  scrollbar-color: rgba( $color, $alpha ) transparent;


  /* WebKit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba( $color, $alpha );
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba( $color, $alpha ); /* keep opacity the same */
  }

}


@media (min-width: 1500px){
  .project {
    
  }
}

@media (min-width: 1200px) and (max-width: 1499px){
  .project {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "image title"
      "image description"
      "techs techs";
    .techs {
      display: flex;
    }
  }
}

@media (max-width: 1199px){
  .project {
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
      "title"
      "image"
      "description"
      "techs";
  }
}

@media (max-width: 800px){
  body {
    overflow-y: visible;
  }
  .main {
    // flex-direction: column;
    display: block;
    width: 100%;
    width: 100dvw;
    height: auto;
    // background: red;
  }
  .left, .right { 
    flex-grow: 1;
  }
  .left {
    border-right: none;
    border-bottom: 1px solid $c1;
    margin: auto;
    text-align: center;;
    // padding: 0;
    padding-top: 6.18rem;
  }
  .right {
    // flex-grow: 0;
    overflow-y: visible;
  }
  .project {
    &  > * {
      min-width: 0;      
    }
    .image {
      margin-right: auto;      
    }
    .techs {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 1.618rem;
      .tech {
        margin-right: 0;        
      }
    }
  }
}

@media (max-width: 800px){
  .left {
    padding-top: 2.618rem;
  }
}